HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

src/main/resources/static/js
src/main/resources/static/css

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

/node/
/node_modules/
